

.list {
    display: flex;
    flex-direction: column;
    column-gap: 1.5rem;
    padding: 2px;
    font-weight: 1000;
    color: #6f43d4;

}
input{
    padding: .5rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: .5rem;
    width: 12rem;
}
.button {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 0.8rem;
    border-radius: 0.2rem;
    border: none;
    background-color: hsl(237, 71%, 61%);
    color: #fff;cursor: pointer;

}

/*****hdden ****/
.button__hidden{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 60%;
    width: 230px;
    padding: 0.8rem;
    border: none;
    background-color: #6d72d5;
    color: #fff;
    cursor: pointer;
    
}
.button__close{
    display: flex;
    position: relative;
    margin-left: 80%;
    border: none;
    cursor: pointer;
    
}
.bx-plus{
margin-right: 8px;
}
.form__date{
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 1rem;
    border-radius: .5rem;
    margin-bottom: 8px;
    background-color: #6d72d5a6;
    
}
.card__article{
 background-color: #6d72d5;
   border: 1px solid rgba(0, 0, 0, 0.3);
   margin-top: 20px;
   margin: 10px;
   padding: 0.5rem;
   border-radius: 0.5rem;
   
}
ul{
    padding: 0;
}
.card__name{
    position: relative;
    text-align: center;
    margin-top: 0;
    padding: .5rem;
    color: #fff;
    
    
}
.card__list {
    list-style: none;
    left: 0;
    padding: .5rem;
    color: #fff;
   
    
}

.card{
    color: #ccc;
}
.card__button{
    position: relative;
    left: 50%;
    margin: 3px;

    cursor: pointer;
}


.eliminar{
    background-color: rgb(207, 64, 64);
    color: #fff;
    padding: 7px 8px;
    border-radius: .2rem;
    border: none;
}
.update {
    background-color: #6f43d4;
    color: #fff;
    padding: 7px 8px;
    border-radius: .2rem;
    border: none;
    
    
}

  @media (max-width: 968px) {
    .button__hidden{
        margin-left: 50%;
       
        
    }
    
}
@media (max-width: 800px) {
    .button__hidden{
       
        margin-left: 40%;
      
    }
    
}
@media (max-width: 600px) {
    .button__hidden{
       
        margin-left: 0;
       
    }
}